<html>
    <head>
        <title>
            Excel file upload and processing : Django Example : ThePythonDjango.Com
        </title>
    </head>

    {% block sell_upload %}
        <form action="{% url "bflow_web:sell_create" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required">
            <p>
            <input type="submit"
                   value="Upload"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
        </form>
        {{ msg }}
        <p></p>
        <hr>

    {% endblock sell_upload %}
    <body style="margin-top: 30px;margin-left: 30px;">
        

        <form action="{% url "bflow_web:calaulate_create" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required">
            <p>
            <input type="submit"
                   value="Upload"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
        </form>
        {{ msg }}
        <p></p>
        <hr>

        {% for row in sell %}
            <div>
                <p>{{ row.payment_at }}</P>
                <p>{{ row.channel }}</P>
                <p>{{ row.quantity }}</P>
                <p>{{ row.total_amount }}</P>
                <p>{{ row.ct }}</P>
            </div>
            <br>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if sell.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ sell.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ sell.number }} of {{ sell.paginator.num_pages }}.
                </span>

                {% if sell.has_next %}
                    <a href="?page={{ sell.next_page_number }}">next</a>
                    <a href="?page={{ sell.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% for row in excel_data %}
                {{ row }}
            <br>
        {% endfor %}
    </body>
</html>
